*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
h1{
    text-align: center;
    font-size: 6vw;
    font-style: italic;
    color:rgb(255, 251, 0);  
}
.player_name{
    position: absolute;
    margin-top: -10vh;
    margin-left: 23vw;
    font-size: 3vw;
    color:white;

}
#name{
    font-size: 2.5vw;
    color:rgba(28, 247, 46, 0.979);
    background-color: rgba(45, 1, 255, 0.61);
    border: rgba(45, 1, 255, 0.61);
    border-radius: 10px;
}
.start{
    /* position: absolute; */
    margin-top: 30vh;
    margin-left: 77vw;
    font-size: 4vw;
    color: #ff0000e8;
    background-color: rgba(33, 16, 115, 0.33);
    border: rgba(33, 16, 115, 0.33);
    border-radius: 20px;
}
.start:hover{
    color: rgb(101, 250, 1);
}

.instructions{
    margin-top: 30vh;
    margin-left: 77vw;
    background-color:rgb(78, 250, 78) ;
    color:black;
    font-size: 2vw;
    font-family: cursive;
    
   
    
}

.instructions:hover{
   background-color: rgb(255, 251, 0);
}